services:
  indexer:
    build:
      context: ./backend
      dockerfile: indexer/Dockerfile
    container_name: va-indexer
    restart: always
    environment:
      PORT: "8080"
      NATS_URL: ${NATS_URL}
      MONGO_URL: ${MONGO_URL}
      MONGO_DB: ${MONGO_DB}
      MEILI_URL: ${MEILI_URL}
      MEILI_KEY: ${MEILI_KEY}
      INDEXER_API_URL: ${INDEXER_API_URL}
      JWT_SECRET: ${JWT_SECRET}
      ADMIN_LOGIN: ${ADMIN_LOGIN}
      ADMIN_PASSWORD: ${ADMIN_PASSWORD}
      INTERNAL_API_TOKEN: ${INTERNAL_API_TOKEN}
