# Remote parser for va-indexer-1, va-indexer-2
# Connects to indexer and NATS on va-prod (146.19.213.178)
services:
  parser:
    build:
      context: ./backend
      dockerfile: parser/Dockerfile
    container_name: va-parser
    restart: always
    depends_on:
      - chrome
    environment:
      NATS_URL: nats://146.19.213.178:4222
      INDEXER_API_URL: http://146.19.213.178:8080
      WORKER_COUNT: ${WORKER_COUNT:-5}
      MAX_BROWSER_TABS: ${MAX_BROWSER_TABS:-10}
      HTTP_PORT: "8082"
      INTERNAL_API_TOKEN: ${INTERNAL_API_TOKEN}
      PAGE_LOAD_DELAY: ${PAGE_LOAD_DELAY:-0s}
      BROWSER_CDP_URL: ws://chrome:9222
    deploy:
      resources:
        limits:
          memory: 512M
          cpus: '1.0'
        reservations:
          memory: 256M

  chrome:
    image: chromedp/headless-shell:latest
    container_name: va-chrome
    restart: always
    deploy:
      resources:
        limits:
          memory: 1G
          cpus: '2.0'
