# Remote parser for va-indexer-1, va-indexer-2
# Connects to indexer and NATS on va-prod (146.19.213.178)
# Uses Lightpanda as headless browser (11x faster, 9x less memory than Chrome)
services:
  parser:
    build:
      context: ./backend
      dockerfile: parser/Dockerfile
    container_name: va-parser
    restart: always
    depends_on:
      - lightpanda
    environment:
      NATS_URL: nats://146.19.213.178:4222
      INDEXER_API_URL: http://146.19.213.178:8080
      WORKER_COUNT: ${WORKER_COUNT:-5}
      MAX_BROWSER_TABS: ${MAX_BROWSER_TABS:-10}
      HTTP_PORT: "8082"
      INTERNAL_API_TOKEN: ${INTERNAL_API_TOKEN}
      PAGE_LOAD_DELAY: ${PAGE_LOAD_DELAY:-0s}
      BROWSER_CDP_URL: ws://lightpanda:9222
    deploy:
      resources:
        limits:
          memory: 512M
          cpus: '1.0'
        reservations:
          memory: 256M

  lightpanda:
    image: lightpanda/browser:nightly
    container_name: va-lightpanda
    restart: always
    environment:
      LIGHTPANDA_DISABLE_TELEMETRY: "true"
    deploy:
      resources:
        limits:
          memory: 512M
          cpus: '1.0'
