services:
  parser:
    build:
      context: ./backend
      dockerfile: parser/Dockerfile
    container_name: va-parser
    restart: always
    environment:
      NATS_URL: ${NATS_URL}
      MONGO_URL: ${MONGO_URL}
      MONGO_DB: ${MONGO_DB}
      MEILI_URL: ${MEILI_URL}
      MEILI_KEY: ${MEILI_KEY}
      WORKER_COUNT: ${WORKER_COUNT:-10}
      MAX_BROWSER_TABS: ${MAX_BROWSER_TABS:-10}
      HTTP_PORT: "8082"
      INTERNAL_API_TOKEN: ${INTERNAL_API_TOKEN}
      REDIS_URL: ${REDIS_URL}
      HTML_CACHE_TTL: ${HTML_CACHE_TTL:-24h}
      PAGE_LOAD_DELAY: ${PAGE_LOAD_DELAY:-0.1s}
      CRAWL_RATE_LIMIT: ${CRAWL_RATE_LIMIT:-0s}
    volumes:
      - browser_profiles:/data/browser-profiles
    shm_size: 2gb
    deploy:
      resources:
        limits:
          memory: 4G

volumes:
  browser_profiles:
